
/*-----------------------------------------------------------------------------------------------------*\
* Estilos genéricos que se aplicarán a todo el documento HTML.
\*-----------------------------------------------------------------------------------------------------*/

/*
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

*/

/*
* {
  box-sizing: border-box;
}
*/


/*-----------------------------------------------------------------------------------------------------*\
* Estilos genéricos No estructurales
\*-----------------------------------------------------------------------------------------------------*/


/*

.g-icons-color-fontawesome {
  color: $icons-color;
}

*/
/*
.g-links-header {
  //flex: 3;
  //text-align: right;
}
/*
.g-links-footer {
  //flex: 50%;
  //text-align: left;
}

/*
.g-logo {
  //flex: 25%;
  //text-align: left;
  //vertical-align: middle;
}
/*
.g-social-icons-footer {
  flex: 25%;
}
*/

 /* 
.g-color-secondary {
  color:#333     //variable de bootstrap
}
*/
/*
.img-fluid {
  //width: 100%;
}
*/