


<header class="flex w-11/12  bg-primary-color h-10vh  pl-4 pr-4 text-xl mt-0 mb-0 ml-auto mr-auto items-center">
    
    <div class="text-aqua-color">
        <a href="index.html" class="mr-2vw no-underline align-middle sm:text-xl text-sm"><i class="fa-solid fa-copyright" ></i></a>
        <a href="index.html" class="ml-n2vw text-aqua-color no-underline align-middle sm:text-xl text-sm"><strong> Logo</strong></a>
    </div> 

    <div class="flex-3 text-right">
        <a href="article.html" class="text-aqua-color mr-2vw no-underline align-middle sm:text-xl text-sm" ><strong>Artículo</strong></a> 
        <a href="#" class="text-aqua-color mr-2vw no-underline align-middle sm:text-xl text-sm"><strong>Bandas</strong></a>
        <a href="#" class="text-aqua-color mr-2vw no-underline align-middle sm:text-xl text-sm"><strong>Miscelanea</strong></a>
    </div>

    
     <div class="dropdown">
        <button class="btn hover:bg-blue-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <a href="#"><strong>Videos</strong></a>
        </button>
    </div>
    

</header>