
/*-----------------------------------------------------------------------------------------------------*\
* Header, Footer
\*-----------------------------------------------------------------------------------------------------*/

header {
  //display: flex;
  
  //align-items: center;                            //alinea a la misma altura verticalmente
  //width: 90%;
  //height: 10vh;
  //padding: 0 1rem;
  //margin: 0 auto;
  //font-size: 2rem;
  //color: #fff;
  //background-color: $primary;
}


footer{
  
  //width: 90%;
  //margin: 0 auto;
}


  
/*-----------------------------------------------------------------------------------------------------*\
* Body
\*-----------------------------------------------------------------------------------------------------*/

body {
  //margin: 0;
  //font-family: $font-family-sans-serif;
  //font-size: 16px;
  //line-height: 24px;
  //color: $font-color;
  //background-color: $bandas-musica-bg;
}



/*-----------------------------------------------------------------------------------------------------*\
* Listas
\*-----------------------------------------------------------------------------------------------------*/

/*
ul li {
  //margin-top: 5vh;
}
*/
/*
ol li {
  //text-align: left;
}
*/
/*

header ul li {
  margin: 0;
}

*/

/*-----------------------------------------------------------------------------------------------------*\
* Enlaces
\*-----------------------------------------------------------------------------------------------------*/
/*
a {
  //margin-right: 2vw;
  //font-size: 1.3rem;
  //color: $links-color;
  //text-decoration: none;
  //vertical-align: middle;
  @media ( max-width: $mqMinWidth ) {
    //font-size:0.8rem;
  }
}

*/

/*-----------------------------------------------------------------------------------------------------*\
* Encabezados
\*-----------------------------------------------------------------------------------------------------*/

h1 {
  //padding: 2vh;
  //font-size: 4vh;
  //color: burlywood;
  //text-align: center;
}


h3 {
  //font-size: 2vh;
  //color: chocolate;
  //text-align: center;
}


h4 {
  //text-align: left;
}



/*-----------------------------------------------------------------------------------------------------*\
* Párrafo
\*-----------------------------------------------------------------------------------------------------*/

p {
  //line-height: normal ;
  //text-align:left ;
}



/*-----------------------------------------------------------------------------------------------------*\
* Imagen
\*-----------------------------------------------------------------------------------------------------*/
/*
img {
  object-fit: cover;
}

*/
/*  
figcaption {
  padding-top:1vh ;
  font-weight: bolder;
  text-transform: capitalize;
}
*/

